<div class="sidebar">
  <div class="logo">
    <img src="images/admin.png" alt="" />
    <h2>Admin</h2>
  </div>
  <div class="sidebar-menus-one">
    <a href="" class="sidebar-menu"
      ><img src="images/dashboard.png" alt="" />
      <p>Dashboard</p></a
    >

    <a href="" class="sidebar-menu"
      ><img src="images/team.png" alt="" />
      <p>Team and Availability</p></a
    >
    <a href="" class="sidebar-menu"
      ><img src="images/service.png" alt="" />
      <p>Services</p></a
    >
    <a href="" class="sidebar-menu"
      ><img src="images/review.png" alt="" />
      <p>Testimonials</p></a
    >
    <a href="#" class="sidebar-menu"
      ><img src="images/project.png" alt="" />
      <p>Projects</p></a
    >

    <a href="/contacts" class="sidebar-menu"
      ><img src="images/client.png" alt="" />
      <p>Clients</p></a
    >
  </div>
  <div class="sidebar-menus-two">
    <a href="" class="sidebar-menu"
      ><img src="images/settings.png" alt="" />
      <p>Settings</p></a
    >

    <!-- <a href="" class="sidebar-menu"
        ><img src="images/notification.png" alt="" />
        <p>Notifications</p></a
      > -->
    <a href="/logout" class="sidebar-menu"
      ><img src="images/logout.png" alt="" />
      <p>Logout</p></a
    >
  </div>
</div>
