<aside class="left-sidebar">
  <!-- Sidebar scroll-->
  <div>
    <div class="brand-logo d-flex align-items-center justify-content-between">
      <a href="./index.html" class="text-nowrap logo-img">
        <img src="./images/image.png" width="80" alt="" />
      </a>
      <div
        class="close-btn d-xl-none d-block sidebartoggler cursor-pointer"
        id="sidebarCollapse"
      >
        <i class="ti ti-x fs-8"></i>
      </div>
    </div>
    <!-- Sidebar navigation-->
    <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
      <ul id="sidebarnav">
        <li class="nav-small-cap">
          <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
          <span class="hide-menu">Home</span>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/dashboard" aria-expanded="false">
            <span>
              <i class="ti ti-layout-dashboard"></i>
            </span>
            <span class="hide-menu">Dashboard</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/teams">
            <span>
              <i class="ti ti-user"></i>
            </span>
            Teams</a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/clients">
            <span>
              <i class="ti ti-users"></i>
            </span>
            Clients</a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/projects">
            <span>
              <i class="ti ti-bulb"></i>
            </span>
            Projects</a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/testimonials">
            <span>
              <i class="ti ti-stars"></i>
            </span>
            Testimonials</a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/contacts">
            <span>
              <i class="ti ti-address-book"></i>
            </span>
            Contacts</a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/settings">
            <span>
              <i class="ti ti-address-book"></i>
            </span>
            Settings</a
          >
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" href="/logout">
            <span>
              <i class="ti ti-address-book"></i>
            </span>
            Logout</a
          >
        </li>
      </ul>
    </nav>
    <!-- End Sidebar navigation -->
  </div>
  <!-- End Sidebar scroll-->
</aside>
